{% extends 'workshop/basic.html'%}

{% block title %}About Us{% endblock %}
{% load static %}
{% block style %}
    <!--<link rel="stylesheet" href="{% static 'css/stylestar.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/about.css' %}">




{% endblock %}
{% block body%}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:8px;">
        <div class="container">
            <div class="row">
                <div align="center" class="col-sm-12">
                    <h1 class="title">About Us</h1>
                </div>
            </div>
            <div class="row box">
                <div class="col-sm-3">
                    <h3 class="sub">IGNITE</h3>
                   <p class="deta" >IGNITE, the technical fest of NIT SURATHKAL, organized by the department of Mathematical and Computational Science is the conjugation of technical geeks of the MCA community from all over the world, providing them with a platform to promulgate their skills and vision to reach the pinnacle of their talents. The underlying spirit of IGNITE was “to promote technical and scientific thinking along with a tint of innovation” a mission that has been followed by every IGNITE ever since.</p>
                </div>
                <div class="col-sm-3">
                <h3 class="sub">Origin</h3>
                    <p class="deta">Back From its commencement in 2017 to till date IGNITE has provided a podium for several technical innovations and brilliant raw ideas to echo, over the past 2 years. Justifying its very nme, the fest solely believes in igniting raw minds and ideas by giving them a thrilling opportunity to boost their confidence and inculcate in them thevision to see themselves as the budding leaders of the future technical world. The aim of team IGNITE is to take the level of this tech fest higher and higher by raising its parameters up a few notches by each advancing year.</p>
                </div>
                <div class="col-sm-3">
                <h3 class="sub">Aim</h3>
                    <p class="deta">The technical fest is an indispensable part of technical college’s curriculum. The key objective of organizing this event is to provide a platform where young brains get to showcase their technical soundness and can compete with others to find the best. The highlight of the fest is that we never solely aim on the competitions but on providing the participants with an environment where they compete,excel and prove themselves. They can see their ideas become alive and get inspired.</p>
                </div>
                <div class="col-sm-3">
                    <h3 class="sub" >Vision</h3>
                    <p class="deta">We believe in steady growth and with this very motto our entire team is working towards IGNITE’19. The fest provides a platform for students across the nation to top their potential and unravel their quiescent talents. Students from diverse background and culture will get an opportunity to interact and learn from each other. The participants here will be bestowed upon with an unforgettable learning experience as IGNITE’19 offers a whole gamut of events like online coding, treasure hunt, online quizzes, fun events etc.</p>
                </div>
            </div>
        </div>

</div>

<!-- partial -->


{% endblock %}
    {% block script %}
    <!--<script src="{% static 'js/scriptstar.js'%}"></script>-->

{% endblock %}