<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link rel="stylesheet" href="{% static 'css/stylestar.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static './css/menu.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static './css/button.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static './css/preloader.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title>{% block title %}{% endblock %}</title>
    {% block style %}{% endblock %}
</head>
<body>
<!--PRELOADER-->

<!--<div id="loader-wrapper">-->
<!--<div id="loader"></div>-->

<!--<div class="loader-section section-left"></div>-->
<!--<div class="loader-section section-right"></div>-->

<!--</div>-->
<canvas id="c" style="position:fixed;top:0px;"></canvas>

{% block body %}{% endblock %}

<div class="nav-menu" style="position:fixed;top:0px;">
    <div class="menu-list">
        <a class='glowBtn hover' href="{% url 'index' %}">Home</a><br>
        <a class='glowBtn hover' href="{% url 'aboutus' %}">About Us</a><br>
<!--        <a class='glowBtn hover' href="{% url 'regstudent' %}">Register</a><br>-->
        <a class='glowBtn hover' href="{% url 'login' %}">Login</a><br>
        <a class='glowBtn hover' href="{% url 'teams' %}">Teams</a><br>
        <a class='glowBtn hover' href="{% url 'event' %}">Events</a><br>
        <a class='glowBtn hover' href="{% url 'gallery' %}">Gallery</a><br>
        <a class='glowBtn hover' href="{% url 'contact' %}">Contact</a><br>
    </div>
    <div id="burger-wrap">
        <a class="burger"><span></span></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script  src="{% static './js/menu.js' %}"></script>

{% block script %}{% endblock %}
<script src="{% static 'js/scriptstar.js'%}"></script>
<script src="{% static 'js/button.js'%}"></script>
<script src="{% static 'js/preloader.js'%}"></script>
</body>
</html>