{% extends 'workshop/basic.html'%}
{% block title %}Events{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href='{% static "./css/event.css" %}'>
    <style>
        .card {
            background: #fff;
            border-radius: 2px;
            display: inline-block;
            height: 190px;
            margin: 1rem;
            position: relative;
            width: 190px;
        }
        .card-1 {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        }
        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        @media only screen and (max-width: 600px) {
            .
        }
    </style>
    <script>
    </script>
{% endblock %}
{% block body%}
    <div style="position:absolute;top:0px;width:100vw;height:100vh;padding:30px 8px 8px 8px;">
        <h1 class="title">{{ event.event_name }}</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow pulse">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Rules</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabs" style="box-shadow: 0px 0px 10px 3px #f20e0e;">
                            <div align="center" role="tabpanel" class="tab-pane active wow fadeIn" id="Section1">
                                <div style="text-align:left;">
                                    <p class="events">
                                        <script>
                                            var x='{{ event_detail.description }}';
                                            var y=x.replace(/~/g, '<br>');
                                            document.write(y); </script>
                                    </p>
                                </div>
                            </div>
                            <div align="center" role="tabpanel" class="tab-pane wow fadeIn" id="Section2">
                                <p class="events">
                                    <script>
                                        var x='{{ event_detail.rules }}';
                                        var y=x.replace(/~/g, '<br> ');
                                        document.write(y); </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
{% endblock %}
{% block script %}
{% endblock %}