{% extends 'workshop/basic.html'%}

{% block title %}Events{% endblock %}
{% load static %}
{% block style %}

<link rel="stylesheet" href='{% static "./css/event.css" %}'>

{% endblock %}
{% block body%}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:30px 8px 8px 8px;">
    <h1 class="title">Events</h1>
    <div class="codepen-container">
        <div id="icetab-container" >
            <div class="icetab current-tab">Tech Events</div>
            <div class="icetab">Non Tech Events</div>
            <!--<div class="icetab">Submission</div>-->
        </div>
        <div id="icetab-content" style="box-shadow: 0px 20px 30px 3px #5cdaed;">

            <div class="tabcontent tab-active">
                            {% for i in tech %}
                                <a href="{% url 'event_data' i.short_url %}">
                                <p class="events">{{ i.event_name }}</p>
                                <img class="event_img" src="{{ i.event_image.url }}" alt="img" style="width:100px;height:auto">

                                </a>
                            {% endfor %}

            </div>


            <div class="tabcontent">

                            {% for i in non_tech %}

                                 <a href="{% url 'event_data' i.short_url %}">
                                <p class="events">{{ i.event_name }}</p>
                                     <img class="event_img" src="{{ i.event_image.url }}" alt="img" style="width:100px;height:auto">
                                 </a>

                            {% endfor %}


            </div>

        </div>


    </div>
</div>
    <!-- partial -->


    {% endblock %}
    {% block script %}

    <script  src="{% static './js/events.js' %}"></script>
    {% endblock %}