{% extends 'workshop/basic.html '%}
{% block title %}{% endblock %}
{% block style %}
{% load static %}


    <link rel="stylesheet" href="{% static 'css/stylegallery.css'%}">
    <style>

    </style>
{% endblock %}
{% block body %}

<div class="container">
     <div class="row">
        <div align="center" class="col-sm-12">
            <h1 style='color:#ff9900;font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;letter-spacing: 14px;
  text-transform: uppercase;
  font-size: 35px;'>Gallery</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section id="photogrid" style="border: 1px solid #ff9900;">
              <!--<a href="#img1" class="imgbox box1" id="box1"><div class="boxtitle"><p></p></div></a>-->
              <a href="#img1" class="imgbox box1" id="box1"><div class="boxtitle"></div></a>
              <a href="#img2" class="imgbox box2" id="box2"><div class="boxtitle"></div></a>
              <a href="#img3" class="imgbox box3" id="box3"><div class="boxtitle"></div></a>
              <a href="#img4" class="imgbox box4" id="box4"><div class="boxtitle"></div></a>
              <a href="#img5" class="imgbox box5" id="box5"><div class="boxtitle"></div></a>
              <a href="#img6" class="imgbox box6" id="box6"><div class="boxtitle"></div></a>
              <a href="#img7" class="imgbox box7" id="box7"><div class="boxtitle"></div></a>
              <a href="#img8" class="imgbox box8" id="box8"><div class="boxtitle"></div></a>
              <a href="#img9" class="imgbox box9" id="box9"><div class="boxtitle"></div></a>
              <a href="#img10" class="imgbox box10" id="box10"><div class="boxtitle"></div></a>
              <a href="#img11" class="imgbox box11" id="box11"><div class="boxtitle"></div></a>
              <a href="#img12" class="imgbox box12" id="box12"><div class="boxtitle"></div></a>
              <a href="#img13" class="imgbox box13" id="box13"><div class="boxtitle"></div></a>
              <a href="#img14" class="imgbox box14" id="box14"><div class="boxtitle"></div></a>
              <a href="#img15" class="imgbox box15" id="box15"><div class="boxtitle"></div></a>
              <a href="#img16" class="imgbox box16" id="box16"><div class="boxtitle"></div></a>
              <a href="#img17" class="imgbox box17" id="box17"><div class="boxtitle"></div></a>
              <a href="#img18" class="imgbox box18" id="box18"><div class="boxtitle"></div></a>
              <a href="#img19" class="imgbox box19" id="box19"><div class="boxtitle"></div></a>
              <a href="#img20" class="imgbox box20" id="box20"><div class="boxtitle"></div></a>
              <a href="#img21" class="imgbox box21" id="box21"><div class="boxtitle"></div></a>
              <a href="#img22" class="imgbox box22" id="box22"><div class="boxtitle"></div></a>
              <a href="#img23" class="imgbox box23" id="box23"><div class="boxtitle"></div></a>
              <a href="#img24" class="imgbox box24" id="box24"><div class="boxtitle"></div></a>
              <a href="#img25" class="imgbox box25" id="box25"><div class="boxtitle"></div></a>


        <!--Lightbox Images are hidden and will display as full-page overlays -->

              <a href="#box1" class="lightbox" id="img1">
                <img src="{% static 'media/gallery/DSC_0009.jpg'%}"></a>
              <a href="#box2" class="lightbox" id="img2">
                <img src="{% static 'media/gallery/DSC_0023.jpg'%}"></a>
              <a href="#box3" class="lightbox" id="img3">
                <img src="{% static 'media/gallery/DSC_0039.jpg'%}"></a>
              <a href="#box4" class="lightbox" id="img4">
                <img src="{% static 'media/gallery/DSC_0050.jpg'%}"></a>
              <a href="#box5" class="lightbox" id="img5">
                <img src="{% static 'media/gallery/DSC_0051.jpg'%}"></a>
              <a href="#box6" class="lightbox" id="img6">
                <img src="{% static 'media/gallery/DSC_0059.jpg'%}"></a>
              <a href="#box7" class="lightbox" id="img7">
                <img src="{% static 'media/gallery/DSC_0079.jpg'%}"></a>
              <a href="#box8" class="lightbox" id="img8">
                <img src="{% static 'media/gallery/DSC_0084.jpg'%}"></a>
              <a href="#box9" class="lightbox" id="img9">
                <img src="{% static 'media/gallery/DSC_0086.jpg'%}"></a>
              <a href="#box10" class="lightbox" id="img10">
                <img src="{% static 'media/gallery/DSC_0104.jpg'%}"></a>
              <a href="#box11" class="lightbox" id="img11">
                <img src="{% static 'media/gallery/DSC_0108.jpg'%}"></a>
              <a href="#box12" class="lightbox" id="img12">
                <img src="{% static 'media/gallery/DSC_0111.jpg'%}"></a>
              <a href="#box13" class="lightbox" id="img13">
                <img src="{% static 'media/gallery/DSC_0134.jpg'%}"></a>
              <a href="#box14" class="lightbox" id="img14">
                <img src="{% static 'media/gallery/DSC_0141.jpg'%}"></a>
              <a href="#box15" class="lightbox" id="img15">
                <img src="{% static 'media/gallery/DSC_0157.jpg'%}"></a>
              <a href="#box16" class="lightbox" id="img16">
                <img src="{% static 'media/gallery/DSC_0158.jpg'%}"></a>
              <a href="#box17" class="lightbox" id="img17">
                <img src="{% static 'media/gallery/DSC_0185.jpg'%}"></a>
              <a href="#box18" class="lightbox" id="img18">
                <img src="{% static 'media/gallery/DSC_0242.jpg'%}"></a>
              <a href="#box19" class="lightbox" id="img19">
                <img src="{% static 'media/gallery/DSC_0249.jpg'%}"></a>
              <a href="#box20" class="lightbox" id="img20">
                <img src="{% static 'media/gallery/DSC_0267.jpg'%}"></a>
              <a href="#box21" class="lightbox" id="img21">
                <img src="{% static 'media/gallery/DSC_0268.jpg'%}"></a>
              <a href="#box22" class="lightbox" id="img22">
                <img src="{% static 'media/gallery/DSC_0341.jpg'%}"></a>
              <a href="#box23" class="lightbox" id="img23">
                <img src="{% static 'media/gallery/DSC_0372.jpg'%}"></a>
              <a href="#box24" class="lightbox" id="img24">
                <img src="{% static 'media/gallery/DSC_0400.jpg'%}"></a>
              <a href="#box25" class="lightbox" id="img25">
                <img src="{% static 'media/gallery/DSC_0403.jpg'%}"></a>


            </section>
        </div>
    </div>

</div>


{% endblock %}
{% block script %}

{% endblock %}