{% extends 'workshop/basic.html'%}
{% block title%}Login{% endblock%}
{% block style%}
{% load static %}

<link rel="stylesheet" href="{% static 'css/collegereg.css'%}">
<style>


@media screen and (max-width: 600px) {

  .clg_list{

        font-size:13px;

  }

}



</style>
{% endblock%}

{% block body%}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:10px;">
    <div class="container">
        <div class="row">
            <div align="center" class="col-sm-12">
                <h1 class="title">Login</h1>
            </div>
            <div class="col-md-3"></div>
            <div align="center" class="col-sm-12 col-xs-12 col-md-6 box" >
                <img class="log_img" src="{% static 'media/login.gif'%}">
                <form action="{% url 'sign_in' %}" method="POST">{% csrf_token %}

                    <select name="cname" class="clg_list">
                        <option value="select">select</option>
                        {% for i in obj %}
                        <option value="{{ i.collegename }}">{{ i.collegename }}</option>
                        {% endfor %}
                    </select>

                    <input type="email" class="form-input" name="college_mail" placeholder="Leader mail"/>
                    <input type="password" class="form-input" name="college_code" placeholder="College Code"/>

                    <input type="submit" name="submit" id="submit" class="btn submit" value="Login"/>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock%}
{% block script%}

{% endblock%}