{% extends 'workshop/basic.html'%}

{% block title %}About Us{% endblock %}
{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/registered.css' %}">




{% endblock %}
{% block body%}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:8px;">
    <div class="container">
        <div class="row">
            <div align="center" class="col-sm-12">
                <h1 class="title">About U</h1>
                <div class="container box">
                    <div class="row">
                        <div class="col-sm-8">
                            <p class="sub"> {{ obj.collegename }}</p>
                        </div>
                        <div class="col-sm-4">
                            <a href="{% url 'logout' %}">logout</a>
                        </div>
                    </div>
                </div>
                <div class="container stud box">
                    <div class="row stud">
                        <div class="col-sm-3">{{ sobj.leader_name }} (LEADER)</div>
                        <div class="col-sm-3">{{ sobj.leader_mobile }}</div>
                        <div class="col-sm-3">{{ sobj.leader_email }}</div>
                        <div class="col-sm-3">
                            <!--{{ sobj.leader_id}}-->
                        </div>
                    </div>

                    <div class="row stud">
                        <div class="col-sm-3">{{ sobj.member1_name }}</div>
                        <div class="col-sm-3">{{ sobj.member1_mobile }}</div>
                        <div class="col-sm-3">{{ sobj.member1_id }}</div>
                        <div class="col-sm-3">
                            <!--{{ sobj.member1_file}}-->
                        </div>
                    </div>

                    <div class="row stud">
                        <div class="col-sm-3">{{ sobj.member2_name }}</div>
                        <div class="col-sm-3">{{ sobj.member2_mobile }}</div>
                        <div class="col-sm-3">{{ sobj.member2_id }}</div>
                        <div class="col-sm-3">
                            <!--{{ sobj.member2_file}}-->
                        </div>
                    </div>
                    <div class="row stud">
                        <div class="col-sm-3">{{ sobj.member3_name }}</div>
                        <div class="col-sm-3">{{ sobj.member3_mobile }}</div>
                        <div class="col-sm-3">{{ sobj.member3_id }}</div>
                        <div class="col-sm-3">
                            <!--{{ sobj.member3_file}}-->
                        </div>
                    </div>
                    <div class="row stud">
                        <div class="col-sm-3">{{ sobj.member4_name }}</div>
                        <div class="col-sm-3">{{ sobj.member4_mobile }}</div>
                        <div class="col-sm-3">{{ sobj.member4_id }}</div>
                        <div class="col-sm-3">
                            <!--{{ sobj.member4_file}}-->
                        </div>
                    </div>






                </div>
            </div>
        </div>

    </div>

</div>

<!-- partial -->


{% endblock %}
{% block script %}


{% endblock %}