{% extends 'workshop/basic.html'%}

{% block title %}Sponsor's{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">


    <style>
        .det{

            box-shadow: 0px 0px 10px 3px #f20e0e;
            height:100%;
            padding:5px;
            background: white;
            text-align:justify;
            text-justify:inter-word;
            margin:20px;
        }
        .margin{
            margin-bottom:20px;
        }

        .big>img, .kla>img, .bell>img, .bhoom>img{

            height:5vw;
            min-height:150px;
            margin:1vw;
        }
        .ever>img{
            width:5vw;
            min-width:220px;
            margin:4vw;
        }

    </style>

{% endblock %}
{% block body%}

    <div style="position:absolute;top:0px;width:100vw;height:100vh;padding:8px;">
        <div class="container">
            <div class="row">
                <div align="center" class="col-sm-12">
                    <h1 class="title" style="margin-top:60px;">Sponsor's</h1>
                </div>
            </div>
            <div class="row det" >
                <div align="center" class="col-sm-6 margin ">
                    <div class=" wow zoomIn sponsor kla" >
                        <img src="{% static 'media/kla.png'%}">
                    </div>
                    <div class=" wow zoomIn sponsor big" >
                        <img src="{% static 'media/big.png'%}">
                    </div>
                </div>
                <div align="center" class="col-sm-6 margin ">
                    <div class=" wow zoomIn sponsor ever" >
                        <img src="{% static 'media/EverGreen_partner.png'%}">
                    </div>
                    <div class=" wow zoomIn sponsor bhoom" >
                        <img src="{% static 'media/bhoom.png'%}">
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- partial -->


{% endblock %}
{% block script %}
    <!--<script src="{% static 'js/scriptstar.js'%}"></script>-->

{% endblock %}