


{% extends 'workshop/basic.html'%}

{% block title %}TEAMS{% endblock %}
{% load static %}
{% block style %}
<!--<link rel="stylesheet" href="{% static 'css/stylestar.css' %}">-->

<link rel="stylesheet" href="{% static 'css/event.css' %}">
<!--<link rel="stylesheet" href="{% static 'css/about.css' %}">-->

<style>

.profileInfo h3{

    opacity:0;
    transition:opacity 1s;
}
.profilebox:hover h3{

    opacity:1;
}

</style>


{% endblock %}
{% block body%}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:8px;">
    <div class="container">
        <div class="row">
            <div align="center" class="col-sm-12">
                <h1 class="title" style="margin-top:60px;">{{team}}</h1>
            </div>
        </div>
        <div class="row box wow zoomIn" style="box-shadow: 0px 0px 10px 3px #f20e0e;">
            <div align="center" class="col-sm-12" style="height: auto;color:white;margin:10px;">

               {% for i in team_group_img %}
                   <img src="{{i.image.url}}" style="width:100%;">

                {% endfor %}
                {% for i in team_image %}

                <div  class="profilebox profilebox1" style="background-image:url('{{ i.image.url }}');">
                    <div  class="profileInfo" >
                        <h3 style="margin-bottom:-55px;text-align:right;">{{ i.event_name }}{{ i.person_name }}</h3>
                        {% if forloop.first %}
                            <h1 style="font-size:20px;position:fixed;top:-25px;left:-15px;background:white;padding:5px;color:black">Team Head</h1>
                         {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

</div>

<!-- partial -->


{% endblock %}
{% block script %}
<!--<script src="{% static 'js/scriptstar.js'%}"></script>-->

{% endblock %}