{% extends 'workshop/basic.html'%}
{% block title %}{% endblock %}
{% block style %}
{% load static %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:400,600,800,300'>
<link rel="stylesheet" href="{% static 'css/styleteams.css'%}">


<style>
    .box {
        border:1px solid #8b0c03;
        padding:10px;
    }
</style>
{% endblock %}
{% block body %}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:8px;">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12" >
                            <section class="wrapper-full tab-container effectTab-header" id="style_6" >
                                <div class="wrapper tab-item">
                                    <div class="custom-row">
                                        <div class="wrapper " align="center">
                                            <!--<h1 class="ti title">Teams</h1>-->
                                             <h1 style='color:#8b0c03;font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;letter-spacing: 14px;
  text-transform: uppercase;
  font-size: 35px;margin-top:15px;font-weight:500'>Teams</h1>
                                        </div>
                                        <!--<input type="button" class="btn btn-info" value="Management">-->
                                        <!--<input type="button" class="btn btn-info" value="Website">-->
                                        <!--<input type="button" class="btn btn-info" value="Technical">-->
                                        <!--<input type="button" class="btn btn-info" value="Designing">-->
                                        <!--<input type="button" class="btn btn-info" value="Android">-->
                                        <!--<input type="button" class="btn btn-info" value="Alumani PR">-->
                                        <!--<input type="button" class="btn btn-info" value="Hosting">-->
                                        <!--<input type="button" class="btn btn-info" value="Marketing">-->
                                        <!--<input type="button" class="btn btn-info" value="Non Tech">-->
                                        <!--<input type="button" class="btn btn-info" value="Cultural Event">-->
                                        <!--<input type="button" class="btn btn-info" value="">-->
                                        <!--Management team -->
                                        <div class="column-12 column-xs-12 tab">
                                            <div class="custom-row box">
                                                <h5 style="font-family: Oswald, sans-serif;color:white;font-size:25px;" >Management Team</h5>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six" >
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">

                                                            <p>lab kishore hembram</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->

                                                        </div>
                                                    </div>
                                                    <p style="margin:10px;color:white;font-family: Oswald, sans-serif;color:white">President</p>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                    <p style="margin:10px;color:white;font-family: Oswald, sans-serif;color:white">Vice President</p>

                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                    <p style="margin:10px;color:white;font-family: Oswald, sans-serif;color:white">Secretory</p>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="color:white;">
                                        </div>
                                        <!--Designing team-->
                                        <div class="column-12 column-xs-12 tab">
                                            <div class="custom-row box">
                                                <h5 style="font-family: Oswald, sans-serif;color:white;font-size:25px;" >Designing Team</h5>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six" >
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>lab kishore hembram</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                    <p style="margin:10px;color:white;font-family: Oswald, sans-serif;color:white">Team Head</p>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column-2 column-xs-12 column-sm-6 column-md-6 box-tab ">
                                                    <div class="effect grid-width3 effect-six">
                                                        <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg" class="img-fluid">
                                                        <div class="tab-text">
                                                            <h2></h2>
                                                            <p>LAB KISHORE HEMBRAM</p>
                                                            <!--<div class="icons-block"> <a href="#" class="social-icon-1"><i class="fa fa-facebook-official"></i></a> <a href="#" class="social-icon-2"><i class="fa fa-twitter-square"></i></a> <a href="#" class="social-icon-3"><i class="fa fa-youtube-square"></i></a> </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr style="color:white;">
                                        </div>





                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

{% endblock %}