{% extends 'workshop/basic.html'%}

{% block title %}About Us{% endblock %}
{% load static %}
{% block style %}
    <!--<link rel="stylesheet" href="{% static 'css/stylestar.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/about.css' %}">




{% endblock %}
{% block body%}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:8px;">
        <div class="container">
            <div class="row">
                <div align="center" class="col-sm-12">
                    <h1 class="title" style="margin-top:60px;">{{ team.team_name }}</h1>
                </div>
            </div>
            <div class="row box" style="box-shadow: 0px 0px 30px 3px #5cdaed;">
                <div class="col-sm-12" style="height: 500px;color:white;">

                     {% for i in team_image %}
                                <img class="event_img" src="{{ i.image.url }}" alt="img" style="width:100px;height:auto">


                            {% endfor %}
                                    </div>

            </div>
        </div>

</div>

<!-- partial -->


{% endblock %}
    {% block script %}
    <!--<script src="{% static 'js/scriptstar.js'%}"></script>-->

{% endblock %}