{% extends 'workshop/basic.html'%}

{% block title %}TEAMS{% endblock %}
{% load static %}
{% block style %}
<!--<link rel="stylesheet" href="{% static 'css/stylestar.css' %}">-->

<link rel="stylesheet" href="{% static 'css/event.css' %}">
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<style>


</style>


{% endblock %}
{% block body%}

<div style="position:absolute;top:0px;width:100vw;height:100vh;padding:8px;">
    <div class="container">
        <div class="row">
            <div align="center" class="col-sm-12">
                <h1 class="title" style="margin-top:60px;">Teams</h1>
            </div>
        </div>
        <div class="row box wow zoomIn" style="box-shadow: 0px 0px 10px 3px #f20e0e;">
            <div align="center" class="col-sm-12" style="height: auto;color:white;margin:10px;">

                {% for i in tm %}


                <a href="{% url 'team_image' i.short_url %}" class="wow jackInTheBox">
                    <div class="profilebox profilebox1" style="background-image:url('{{ i.event_image.url }}');">
                        <div class="profileInfo" >
                            <h3>{{ i.team_name }}</h3>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

        </div>
    </div>

</div>

<!-- partial -->


{% endblock %}
{% block script %}
<!--<script src="{% static 'js/scriptstar.js'%}"></script>-->

{% endblock %}