@import url(https://fonts.googleapis.com/css?family=Lato:300);



.bg {
  width: 100%;
  height: 100%;
  /*background: radial-gradient(rgba(50, 163, 173, 0.3),#1F1F39);*/
  position: fixed;
  top: 0;
  left: 0;
}

.flare {
  width: 100%;
  height: 100%;
  /*background: linear-gradient(rgba(48, 4, 95, 0.1),transparent,transparent,transparent,rgba(53, 51, 7, 0.2));*/
  position: fixed;
  top: 0;
  left: 0;
}

.grid {
  margin:0;
  width: 100%;
  height: 100%;
  /*background-image: 
  linear-gradient(rgba(246,252,202,.1) 1px, transparent .5px),
  linear-gradient(90deg, rgba(226,252,202,.1) 1px, transparent .5px);
  background-size: 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px;
  */position: fixed;
  top: 0;
  left: 0;

}

.start {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-size: 40px;
  font-weight:bold;
  background: rgba(250,250,250,.1);
  transition: all 1s;
}

.start:after {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px dotted #fff;
  top: 50%;
  left: 50%;
  margin-top: -104px;
  margin-left: -104px;
  -webkit-animation: spin 20s infinite linear;
}

.start:hover {
  transition: all 1s;
  background: rgba(255,255,255,.5);
}



.shape-contain {
  margin: 15px 0px 0px 30px;
}

.shape {
  width: 75px;
  height: 50px;
  transform: skew(-40deg);
  background: rgba(250,250,250,.4);
  display: none;
  margin-right: 5px;
}

.ani {
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,.5);
  display: inline-block;
  margin-left: 1px;
  position: absolute;
  -webkit-animation: ani 2s infinite ease-in-out;
}

.op {
  opacity: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  width: 600px;
  height: 600px;
  -webkit-animation: app1 1s linear;
}

.p1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.25);
  border-radius: 100px 0 0 0;
  transform-origin: bottom right;
  -webkit-animation: spin1 20s infinite linear;
}

.p2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 0px;
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,.4);
  border-radius: 0 0 100px 0;
  transform-origin: top left;
  -webkit-animation: spin1 20s infinite linear;
}

.p3 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -78px;
  margin-left: -78px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px dotted rgba(255,255,255,.4);
  -webkit-animation: spin 20s infinite linear, app1 1s linear;
}

.p4 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -125px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.2);
  -webkit-animation: app1 1s linear;
}

.p5 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1px;
  margin-left: 1px;
  width: 126px;
  height: 126px;
  border-radius: 0 0 252px 0;
  border-bottom: 6px solid rgba(255,255,255,.4);
  border-right: 6px solid rgba(255,255,255,.4);
  transform-origin: top left;
  -webkit-animation: spin1 40s infinite linear, app1 1s linear;
}

.p6 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -156px;
  margin-left: 0px;
  width: 150px;
  height: 150px;
  border-radius: 0 300px 0 0;
  border-top: 6px solid rgba(255,255,255,.4);
  border-right: 6px solid rgba(255,255,255,.2);
  transform-origin: bottom left;
  -webkit-animation: spin 30s infinite linear, app1 1s linear;
}

.p7 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.2);
  -webkit-animation: app1 1s linear;
}

.p8 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -175px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border-bottom: 2px solid rgba(255,255,255,.4);
  border-right: 2px solid rgba(255,255,255,.4);
  -webkit-animation: app1 1s linear;
}

.p9 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 155px;
  margin-left: -5px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  -webkit-animation: app1 1s linear, app2 2s linear infinite;
}

.p10 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 154px;
  margin-left: 10px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-5deg);
  -webkit-animation: app1 1.1s linear, app2 2s linear infinite;
}

.p11 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 152px;
  margin-left: 25px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-10deg);
  -webkit-animation: app1 1.2s linear, app2 2s linear infinite;
}

.p12 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 149px;
  margin-left: 40px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-15deg);
  -webkit-animation: app1 1.3s linear, app2 2s linear infinite;
}

.p13 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 144px;
  margin-left: 54px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-20deg);
  -webkit-animation: app1 1.4s linear, app2 2s linear infinite;
}

.p14 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 138px;
  margin-left: 68px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-25deg);
  -webkit-animation: app1 1.5s linear, app2 2s linear infinite;
}

.p15 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 131px;
  margin-left: 81px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-30deg);
  -webkit-animation: app1 1.6s linear, app2 2s linear infinite;
}

.p16 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 122px;
  margin-left: 94px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-35deg);
  -webkit-animation: app1 1.7s linear, app2 2s linear infinite;
}

.p17 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 112px;
  margin-left: 106px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-40deg);
  -webkit-animation: app1 1.8s linear, app2 2s linear infinite;
}

.p18 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 101px;
  margin-left: 117px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-45deg);
  -webkit-animation: app1 1.9s linear, app2 2s linear infinite;
}

.p19 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 90px;
  margin-left: 127px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-50deg);
  -webkit-animation: app1 2s linear, app2 2s linear infinite;
}

.p20 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 77px;
  margin-left: 136px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-55deg);
  -webkit-animation: app1 2.1s linear, app2 2s linear infinite;
}

.p21 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 64px;
  margin-left: 144px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-60deg);
  -webkit-animation: app1 2.2s linear, app2 2s linear infinite;
}

.p22 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: 150px;
  width: 10px;
  height: 22px;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px 5px 0 0/5px 5px 0 0;
  transform: rotate(-65deg);
  -webkit-animation: app1 2.3s linear, app2 2s linear infinite;
}

.p23 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -119px;
  margin-left: 57px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px dotted rgba(255,255,255,.4);
  -webkit-animation: spin1 20s infinite linear, app1 1s linear;
}

.p24 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -950px;
  margin-left: -800px;
  width: 0;
  height: 0;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-top: 550px solid rgba(255,255,255,.25);
  border-radius: 50%;
  transform-origin: bottom right;
  transform: rotate(-90deg);
  -webkit-animation: app1 1s linear;
}

.p24:after {
  content: '';
  width: 1px;
  height: 600px;
  background: rgba(255,255,255,.5);
  position: absolute;
  transform: rotate(216deg);
  transform-origin: left top
}

.p24:before {
  content: '';
  width: 1px;
  height: 600px;
  background: rgba(255,255,255,.5);
  position: absolute;
  transform: rotate(144deg);
  transform-origin: left top
}

.p25 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 25px;
  transform: rotate(-55deg);
  -webkit-animation: app1 1s linear;
  font-size: 20px;
  color: rgba(255,255,255,.6);
  margin-left: -555px;
  margin-top: -325px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
}

.p26 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -149px;
  margin-left: -399px;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 350px solid rgba(255,255,255,.05);
  border-radius: 50%;
  transform-origin: bottom right;
  transform: rotate(90deg);
  -webkit-animation: app1 1s linear;
}

.p26:after {
  content: '';
  width: 1px;
  height: 600px;
  background: rgba(255,255,255,.5);
  position: absolute;
  transform: rotate(210deg);
  transform-origin: left top
}

.p26:before {
  content: '';
  width: 1px;
  height: 600px;
  background: rgba(255,255,255,.5);
  position: absolute;
  transform: rotate(150deg);
  transform-origin: left top
}

.p27 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 25px;
  transform: rotate(-30deg);
  -webkit-animation: app1 1s linear;
  font-size: 20px;
  color: rgba(255,255,255,.6);
  margin-left: 200px;
  margin-top: -187px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
}

.p28 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 25px;
  transform: rotate(-21deg);
  -webkit-animation: app1 1s linear;
  font-size: 20px;
  color: rgba(132, 163, 163, .6);
  margin-left: 200px;
  margin-top: -80px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
}

.p29 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 25px;
  transform: rotate(-8deg);
  -webkit-animation: app1 1s linear;
  font-size: 20px;
  color: rgba(132, 163, 163, .6);
  margin-left: 209px;
  margin-top: -39px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
}

.p30 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 25px;
  transform: rotate(4deg);
  -webkit-animation: app1 1s linear;
  font-size: 20px;
  color: rgba(132, 163, 163, .6);
  margin-left: 209px;
  margin-top: 0px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
}

.p31 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 25px;
  transform: rotate(15deg);
  -webkit-animation: app1 1s linear;
  font-size: 20px;
  color: rgba(132, 163, 163, .6);
  margin-left: 205px;
  margin-top: 39px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;  
}

.p32 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,.2);
  top: 50%;
  left: 50%;
  margin-top: -204px;
  margin-left: -204px;
  -webkit-animation: grow3 2s ease-in-out;
}

.p33 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 20px solid rgba(255,255,255,.1);
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -70px;  
  -webkit-animation: grow4 .5s ease-in-out;
}

.p34 {
  position: absolute;
  width: 66px;
  height: 66px;
  border: 2px solid rgba(255,255,255,.1);
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  transform: rotate(405deg);
  -webkit-animation: spin3 1s ease-in-out, spin2 20s infinite linear;
}

.p35 {
  position: absolute;
  width: 42px;
  height: 42px;
  border: 2px solid rgba(255,255,255,.1);
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -23px;
  transform: rotate(-360deg);
  -webkit-animation: spin4 1s ease-in-out, spin 20s infinite linear;
}


.bio-name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 213px;
  font-size: 20px;
  color: rgba(255,255,255, .6);
  margin-left: -418px;
  margin-top: -221px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  transform: rotate(36deg);
  -webkit-animation: app1 1s linear;
}

.bio-loc {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 213px;
  font-size: 20px;
  color: rgba(255,255,255, .6);
  margin-left: -418px;
  margin-top: -200px;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  transform: rotate(36deg);
  -webkit-animation: app1 1s linear;
}

.bio-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 266px;
  height: 375px;
  font-size: 20px;
  margin-left: -351px;
  margin-top: -169px;
  background: url(bio.png);
  -webkit-animation: app1 1s linear;
  opacity: .6;
}

@-webkit-keyframes spin1 {
  100% { transform: rotate(-360deg);}
}

@-webkit-keyframes ani {
  0% { opacity: 0;}
  50% { opacity: .2;}
  100% { opacity: 0;}
}

@-webkit-keyframes spin {
  100% { transform: rotate(360deg);}
}

@-webkit-keyframes spin2 {
  100% { transform: rotate(-405deg);}
}


@-webkit-keyframes app1 {
  0% { opacity: 0 }
  10% { opacity: 1  }
  20% { opacity: 0 }
  30% { opacity: 1 }
  70% { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes app2 {
  0% { opacity: .2 }
  50% { opacity: .5 }
  100% { opacity: .2 }
}

@-webkit-keyframes grow {
  0% { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,.5);
    top: 50%;
    left: 50%;
    margin-top: -104px;
    margin-left: -104px;
  }
  100% {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0);
    top: 50%;
    left: 50%;
    margin-top: -122px;
    margin-left: -122px;  
  }
}

@-webkit-keyframes grow2 {
  0% { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,.5);
    top: 50%;
    left: 50%;
    margin-top: -104px;
    margin-left: -104px;
  }
  100% {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0);
    top: 50%;
    left: 50%;
    margin-top: -122px;
    margin-left: -122px;  
  }
}

@-webkit-keyframes grow3 {
  0% { 
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 10px solid rgba(255,255,255,0);
    top: 50%;
    left: 50%;
    margin-top: -310px;
    margin-left: -310px;
  }
  50% {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid rgba(255,255,255,.3);
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;  
  }
  100%{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,.2);
    top: 50%;
    left: 50%;
    margin-top: -204px;
    margin-left: -204px;
  }
}

@-webkit-keyframes grow4 {
  0% { 
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 10px solid rgba(255,255,255,0);
    top: 50%;
    left: 50%;
    margin-top: -310px;
    margin-left: -310px;
  }
  100% {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 20px solid rgba(255,255,255,.1);
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;  
  }
}

@-webkit-keyframes spin3 {
  0% { transform: rotate(45deg);}
  70% { transform: rotate(315deg);}
  100% { transform: rotate(405deg);}
}

@-webkit-keyframes spin4 {
  0% { transform: rotate(0deg);}
  70% { transform: rotate(-315deg);}
  100% { transform: rotate(-360deg);}
}