.form-submit {
  width: auto;
  border: none;
  background: #fff;
  color: #b18757;

  padding: 20px;
  }
 .form-submit:hover {
    background-color: #e6e6e6;

    }


.submit {

  margin-top:10px;
   background:#6f6a6c;
   color:white;
  text-transform: uppercase;
  font-size: 23px;
  height:auto;
  width:200px;
  cursor: pointer; }

input,select:focus{
    outline: none;
}

input {
  border: none;
  border: 1px solid #ff9900;
  background: black;
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  padding: 3px 0;
  height:50px;
  margin:5px;
  }

.clg_list{

    width:100%;height:40px;font-size:25px;background:black;color:white;border:1px solid #ff9900;

}


  input::-webkit-input-placeholder {
    font-weight: 400;
    color: #fff; }
  input::-moz-placeholder {
    font-weight: 400;
    color: #fff; }
  input:-ms-input-placeholder {
    font-weight: 400;
    color: #fff; }
  input:-moz-placeholder {
    font-weight: 400;
    color: #fff; }
  input:focus {
    font-weight: bold; }



  @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
.title {
  color: #8b0c03;
  text-shadow: 1px 1px 1px black;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 35px;
  margin: 60px 0px 10px;

}

.sub {
  color: #8b0c03;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.log_img{
    width:150px;
    border-radius:50%;
    margin-bottom:20px;

}

.box {
	padding: 10px;

	box-shadow: 0px 0px 30px 3px #5cdaed;
	background:black;

}
.deta {
    color:white;
    font-size:20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent;}
.placeholder-fix:focus::-moz-placeholder   {color:transparent;}
.placeholder-fix:-moz-placeholder   {color:transparent;}