@import url('https://fonts.googleapis.com/css?family=Muli:400,800&display=swap');

body{
  margin: 0px;
  background: black;
}
/*
nav {
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 200px;
  background: grey;
}

main{
  position: absolute;
  left: 200px;
}
*/
a.imgbox{
  text-decoration: none;
}

#photogrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.imgbox {
  display: flex;
  width: 250px;
  height: 250px;
  flex-grow: 1;
  border: 0px;
  margin: 10px;
  box-shadow: 0px 0px 0px 5000px rgba(0,0,0,.5) inset;
  transition: transform 200ms;
  -moz-transition: -moz-transform 200ms;
  -webkit-transition: -webkit-transform 200ms;
  -o-transition: -o-transform 200ms;
  justify-content: center;
  align-items: flex-end;
}

.boxtitle {
  position: relative;
  display: flex;
  font-family: 'Muli', sans-serif;
  font-size: 800;
  width: 92%;
  background: rgba(0,0,0,.7);
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin: 0px;
  color: white;
  visibility: hidden;
  margin-bottom: 10px;
}

.boxtitle p {
  margin: 10px;
}


.box1 {
  background: url("../media/gallery/DSC_0009.jpg");
  background-position: center center;
  background-size: cover;
}

.box2 {
  background: url("../media/gallery/DSC_0023.jpg");
  background-position: center center;
  background-size: cover;
}

.box3 {
  background: url("../media/gallery/DSC_0039.jpg");
  background-position: center center;
  background-size: cover;
}

.box4 {
  background: url("../media/gallery/DSC_0050.jpg");
  background-position: center center;
  background-size: cover;
}

.box5 {
  background: url("../media/gallery/DSC_0051.jpg");
  background-position: center center;
  background-size: cover;
}

.box6 {
  background: url("../media/gallery/DSC_0059.jpg");
  background-position: center center;
  background-size: cover;
}

.box7 {
  background: url("../media/gallery/DSC_0079.jpg");
  background-position: center center;
  background-size: cover;
}

.box8 {
  background: url("../media/gallery/DSC_0084.jpg");
  background-position: center center;
  background-size: cover;
}

.box9 {
  background: url("../media/gallery/DSC_0086.jpg");
  background-position: center center;
  background-size: cover;
}

.box10 {
  background: url("../media/gallery/DSC_0104.jpg");
  background-position: center center;
  background-size: cover;
}

.box11 {
  background: url("../media/gallery/DSC_0108.jpg");
  background-position: center center;
  background-size: cover;
}

.box12 {
  background: url("../media/gallery/DSC_0111.jpg");
  background-position: center center;
  background-size: cover;
}
.box13 {
  background: url("../media/gallery/DSC_0134.jpg");
  background-position: center center;
  background-size: cover;
}
.box14 {
  background: url("../media/gallery/DSC_0141.jpg");
  background-position: center center;
  background-size: cover;
}
.box15 {
  background: url("../media/gallery/DSC_0157.jpg");
  background-position: center center;
  background-size: cover;
}
.box16 {
  background: url("../media/gallery/DSC_0158.jpg");
  background-position: center center;
  background-size: cover;
}
.box17 {
  background: url("../media/gallery/DSC_0185.jpg");
  background-position: center center;
  background-size: cover;
}
.box18 {
  background: url("../media/gallery/DSC_0242.jpg");
  background-position: center center;
  background-size: cover;
}
.box19 {
  background: url("../media/gallery/DSC_0249.jpg");
  background-position: center center;
  background-size: cover;
}
.box20 {
  background: url("../media/gallery/DSC_0267.jpg");
  background-position: center center;
  background-size: cover;
}
.box21 {
  background: url("../media/gallery/DSC_0268.jpg");
  background-position: center center;
  background-size: cover;
}
.box22 {
  background: url("../media/gallery/DSC_0341.jpg");
  background-position: center center;
  background-size: cover;
}
.box23 {
  background: url("../media/gallery/DSC_0372.jpg");
  background-position: center center;
  background-size: cover;
}
.box24 {
  background: url("../media/gallery/DSC_0400.jpg");
  background-position: center center;
  background-size: cover;
}
.box25 {
  background: url("../media/gallery/DSC_0403.jpg");
  background-position: center center;
  background-size: cover;
}

.imgbox:hover {
  transform: scale(1.03);
  -moz-transform: scale(1.03);
  -webkit-transform:  scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 0px 0px 0px 9000px rgba(0,0,0,0) inset;
  box-shadow: 0px 0px 0px 1px grey inset;
}

.imgbox:hover .boxtitle {
  visibility: visible;
}


.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.5);
}

.lightbox:target {
	outline: none;
	display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border: solid 2px grey;
}


