

{% load static %}
	body{
		/*background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');*/
		/*background-image: url('https://img.purch.com/rc/1920x1200/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzAyMy82NzIvb3JpZ2luYWwvdmlzdGEtbG9vay1hdC1oZWxpeC1lc28tMTkyMC5qcGc=');*/
		background-image: url('../media/back.jpg');
		background-size: cover;
		background-position: center center;
        height: 100vh;
        width:100vw;
        margin: 0;
        padding: 0;
	}


    .nitk_logo{



    }

    .engi_logo{



    }
    .div2{
		transition:opacity 2s ease;
	}

	@media only screen and (max-width: 600px) {

        .nitk_logo{
            height:30px;
        }

        .engi_logo{
            height:30px;
        }

    }